<!DOCTYPE html>
<!-- vars :: {"template_app": "project.name.snake_case"} -->
<html>

    <head>
        <title>template_app</title>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="/index.js"></script>
    </head>

    <body>

        <h1>template_app</h1>
        <p>
            <a href="/">template_app</a>
        </p>

        <h2>sub sections</h2>
        <ul>
            <!-- for :: {% for module in modules.values() %} :: {"template module": "module.name.lower_case", "template-module": "module.name.kebab_case"} -->
            <li><a href="/template-module">template module</a></li>
            <!-- end for :: -->
        </ul>
    </body>

</html>