# vars :: {"http://localhost:3003": "client.default_host", "3003": "server.port", "/absolute/path/to/parent/dir": "context.uwsgi_static_safe"}
# vars :: {"change_me": "context.secret_key", "dev-app.yaml": "context.mapp_spec_file", "/path/to/.venv": "context.virtual_env", "/path/to/app/.mapp_session": "context.mapp_cli_session_file"}
MAPP_SPEC_FILE=dev-app.yaml
MAPP_APP_PATH=./app
MAPP_FILE_SYSTEM_REPO=./app/file_system
MAPP_DB_URL=file:./app/db.sqlite3
MAPP_CLIENT_HOST=http://localhost:3003
MAPP_SERVER_PORT=3003
MAPP_SERVER_DEVELOPMENT_MODE=false
MAPP_MEDIA_INFO_PATH=mediainfo
MAPP_FFMPEG_PATH=ffmpeg
# generate a hex key for authentication using a command like 'openssl rand -hex 32'
MAPP_AUTH_SECRET_KEY=change_me
# Set the absolute path to a directory containing this app for uwsgi's security requirements
UWSGI_STATIC_SAFE=/absolute/path/to/parent/dir
VIRTUAL_ENV=/path/to/.venv
VIRTUAL_ENV_PROMPT=.venv
MAPP_COMMAND="/path/to/.venv/bin/python -m mapp"
MAPP_CLI_SESSION_FILE=/path/to/app/.mapp_session
# DEBUG_DELAY=0.2 # uncomment to add a delay (in seconds) to each request for testing purposes, useful for testing loading states on the client
# Email / com module settings
MAPP_SMTP_MOCK=true
MAPP_SMTP_HOST=smtp.example.com
MAPP_SMTP_PORT=587
MAPP_SMTP_SENDER=no-reply@example.com
MAPP_EMAIL_VERIFICATION_EXPIRATION=600