# vars :: {"http://localhost:3003": "client.default_host", "3003": "server.port", "/absolute/path/to/parent/dir": "context.uwsgi_static_safe"}
# vars :: {"change_me": "context.secret_key", "dev-app.yaml": "context.mapp_spec_file", "/path/to/.venv": "context.virtual_env", "/path/to/app/.mapp_session": "context.mapp_cli_session_file"}
MAPP_SPEC_FILE=dev-app.yaml
MAPP_APP_PATH=./app
MAPP_FILE_SYSTEM_REPO=./app/file_system
MAPP_DB_URL=file:./app/db.sqlite3
MAPP_CLIENT_HOST=http://localhost:3003
MAPP_SERVER_PORT=3003
MAPP_SERVER_DEVELOPMENT_MODE=false
MAPP_MEDIA_INFO_PATH=mediainfo
MAPP_FFMPEG_PATH=ffmpeg
# generate a hex key for authentication using a command like 'openssl rand -hex 32'
MAPP_AUTH_SECRET_KEY=change_me
# Set the absolute path to a directory containing this app for uwsgi's security requirements
UWSGI_STATIC_SAFE=/absolute/path/to/parent/dir
VIRTUAL_ENV=/path/to/.venv
VIRTUAL_ENV_PROMPT=.venv
MAPP_COMMAND="/path/to/.venv/bin/python -m mapp"
MAPP_CLI_SESSION_FILE=/path/to/app/.mapp_session

# DEBUG_DELAY=0.2 # uncomment to add a delay (in seconds) to each request for testing purposes, useful for testing loading states on the client

# Email / com module settings
MAPP_SMTP_MOCK=true
MAPP_SMTP_HOST=smtp.example.com
MAPP_SMTP_PORT=587
MAPP_SMTP_SENDER=no-reply@example.com
# MAPP_SMTP_USERNAME="optional_username - will not use auth if this and MAPP_SMTP_PASSWORD are not set"
# MAPP_SMTP_PASSWORD="optional_password - dont forget quotes for special characters!"
MAPP_EMAIL_VERIFICATION_EXPIRATION=600

# this url will be in the verification email sent to users
# it should direct them to where they can enter the code
# if not provided not url will be included in the email
MAPP_EMAIL_VERIFICATION_SUBJECT="Your Email Verification Code"
MAPP_EMAIL_VERIFICATION_URL=http://localhost:3003/com/verify-email-address

# remove length for simplied testing, should be false for production use
# requires MAPP_SERVER_DEVELOPMENT_MODE to be true
# requires MAPP_EMAIL_VERIFICATION_URL contain localhost or 127.0.0.1
MAPP_ALLOW_SIMPLE_PASSWORDS_FOR_TESTING=false

MAPP_AUTH_MAX_USER_ACCOUNTS=-1		# limit the total number of user accounts that can be created, -1 for no limit

# if MAPP_AUTH_NEW_ACCOUNT_BY_INVITE_ONLY is true: new accounts can only be created by invitation
# 	use op `auth.invite_user` to:
#		- allow the supplied email address to create an account
#		- send an email to the supplied email address with a link to create their account
#
#	in order to up the auth.invite_user op, the logged in user's email address must
#	be present in the file path set in var MAPP_AUTH_INVITE_USER_ACL_FILE
MAPP_AUTH_NEW_ACCOUNT_BY_INVITE_ONLY=false
MAPP_AUTH_INVITE_USER_ACL_FILE=./app/auth_invite_user_acl.txt