body {
    margin: 10px auto;
    padding: 0;
    width: 65%;
    justify-content: center;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: midnightblue;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    width:70vw;
    text-align:center;
  }
  
  table {
    width: 70vw;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  thead {
    background-color: midnightblue;
    color: white;
    font-weight: bold;
  }

  th {
    text-align: left;
  }
  
  td {
    min-width: 3em;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2ac;
  }
  
  tr:hover { 
    background-color: #343ef32d; 
    cursor: pointer;
  }

  .content {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
  
  .nav {
    display: flex;
    text-align: left;
    justify-content:left;
    gap: 1em;
    margin-top: .3em;
    padding: .3em;
  }
  
  .navbar-link {
    text-decoration: none;
    background-color: #fff;
    color: midnightblue;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navbar-link:hover {
    background-color: bisque;
  }
  
  .navbar-link:active {
    font-weight: bold;
  }
  
  .navbar-link[aria-current="page"] {
    background-color: bisque;
  }
  
  .success {
    color: green;
  }
  
  .danger {
    color: red;
  }
  
  
  input {
    margin: 10px;
  }
  
  .profile-left-col {
    font-weight: bold;
    width: 100px;
  }
  
  .centered-container {
    margin: 0 auto;
  }
  
  